.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.*
.yarn/*
/.pnp
/dist
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

!.yarn/plugins
!.yarn/releases
